<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428293498319-kpk2rp6k8tr10teihj96c4uu1cr0qmh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428293498319-kpk2rp6k8tr10teihj96c4uu1cr0qmh2</string>
	<key>API_KEY</key>
	<string>AIzaSyBoDczM3Q-F7-8-YNM0DrF9idARfQFjhk4</string>
	<key>GCM_SENDER_ID</key>
	<string>428293498319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ganasonic.MayCa</string>
	<key>PROJECT_ID</key>
	<string>mayca-d4371</string>
	<key>STORAGE_BUCKET</key>
	<string>mayca-d4371.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428293498319:ios:f139dc9dbaa8da054d5eba</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6231139717845324~1232657901</string>
</dict>
</plist>